*,
* ::before,
* ::after {
    box-sizing: border-box;
}

.polygon {
    stroke: rgb(253, 55, 0);
    fill: rgb(1, 1, 241);
    stroke-width: 5px;
}

.svg:hover .polygon {
    stroke: rgb(13, 255, 0);
    fill: red;
    stroke-width: 10px;
    transition: 2s;
}